.fbCnt{
    position: relative;
}
.feedback {
    margin: 0 93px;
    font-family: 'Playfair Display';
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.feedback > h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    color: #603809;
    margin-top: 82px;
    margin-bottom: 16px;
    text-align: center;
}

.feedback > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #707070;
    margin-bottom: 45px;
}

.feedbackBlock {
    background: #FFF9F1;
    border: 1px solid rgba(249, 192, 106, 0.42);
    align-self: center;
    max-width: 980px;
    box-sizing: border-box;
    margin-bottom: 138px;
    position: relative;
}

.quote {
    margin-top: 54px;
    margin-left: 29px;
    font-weight: 700;
    font-size: 220px;
    line-height: 112px;
    color: #603809;
}

.dummy {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    margin: 0 100px;
    margin-top: -37px;
}

.feedbackBlock h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #603809;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 4px;
}

.sml {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #707070;
    margin-bottom: 101px;
}

.left,
.right {
    position: absolute;
    top: 221px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
    border-radius: 16px;
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    left: -41px;
}

.right{
    right: -41px;
}

.image {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 434px;
    bottom: -56px;
    background: url('../../assets/img/profile.png');
    filter: drop-shadow(0px 6px 12px rgba(249, 192, 106, 0.22));
    border-radius: 16px;
}

.blast {
    position: absolute;
    transform: rotate(180deg);
    top: 131px;
    right: 0;

}

.blast2 {
    position: absolute;
    left: 0;
    bottom: 82px;
}

@media screen and (max-width: 1256px) {
    .feedbackBlock{
        max-width: 600px;
    }
    .quote {
        font-weight: 500;
        font-size: 120px;
    }
    .dummy {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
    }
    .feedbackBlock h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
    }
    .sml {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    .image {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 872px) {
    .feedback {
        width: 90%;
        margin: 0 auto;
    }
    .feedback > h1 {
        font-weight: 600;
        font-size: 42px;
        line-height: 56px;
        margin-top: 62px;
        margin-bottom: 12px;
    }
    .left,
    .right {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    .left{
        left: 0%;
        transform: translateX(-50%);
    }
    
    .right{
        right: 0%;
        transform: translateX(50%);
    }
    .left > img,
    .right > img {
        width: 16px;
        height: 16px;
    }
    .feedbackBlock{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .quote {
        margin-top: 34px;
        margin-left: 20px;
    }
    .dummy {
        margin: 0 30px;
        margin-top: -27px;
    }
    .blast,
    .blast2 {
        opacity: 0.4;
    }

}